---
import Navigation from '../components/Navigation.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body class="bg-slate-400">
        <Navigation />
		<h1 class="font-mono text-5xl font-bold underline text-center mb-4">Vinci Marketing</h1>
        

        <p class="font-mono text-1xl font-bold text-left">
            Vinci Marketing is a marketing agency that specializes in digital marketing.
        </p>
		
		
		
	</body>
</html>


